body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:638px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u224 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u225_div {
  position:absolute;
  left:0px;
  top:0px;
  width:421px;
  height:880px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:50px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u225 {
  position:absolute;
  left:10px;
  top:10px;
  width:421px;
  height:880px;
}
#u226 {
  position:absolute;
  left:2px;
  top:432px;
  width:417px;
  visibility:hidden;
  word-wrap:break-word;
}
#u227_div {
  position:absolute;
  left:0px;
  top:0px;
  width:380px;
  height:670px;
  background:inherit;
  background-color:rgba(204, 204, 204, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u227 {
  position:absolute;
  left:31px;
  top:115px;
  width:380px;
  height:670px;
}
#u228 {
  position:absolute;
  left:2px;
  top:327px;
  width:376px;
  visibility:hidden;
  word-wrap:break-word;
}
#u229_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:19px;
}
#u229 {
  position:absolute;
  left:137px;
  top:51px;
  width:20px;
  height:19px;
  -webkit-transform:rotate(24deg);
  -moz-transform:rotate(24deg);
  -ms-transform:rotate(24deg);
  transform:rotate(24deg);
}
#u230 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u231_div {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:19px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u231 {
  position:absolute;
  left:178px;
  top:51px;
  width:85px;
  height:19px;
}
#u232 {
  position:absolute;
  left:2px;
  top:2px;
  width:81px;
  visibility:hidden;
  word-wrap:break-word;
}
#u233_img {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:56px;
}
#u233 {
  position:absolute;
  left:192px;
  top:804px;
  width:57px;
  height:56px;
}
#u234 {
  position:absolute;
  left:2px;
  top:20px;
  width:53px;
  visibility:hidden;
  word-wrap:break-word;
}
#u236 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u237_div {
  position:absolute;
  left:0px;
  top:0px;
  width:380px;
  height:43px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u237 {
  position:absolute;
  left:31px;
  top:115px;
  width:380px;
  height:43px;
}
#u238 {
  position:absolute;
  left:2px;
  top:14px;
  width:376px;
  visibility:hidden;
  word-wrap:break-word;
}
#u239_div {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:18px;
}
#u239 {
  position:absolute;
  left:189px;
  top:126px;
  width:65px;
  height:22px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:18px;
}
#u240 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u241_img {
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:25px;
}
#u241 {
  position:absolute;
  left:41px;
  top:124px;
  width:21px;
  height:25px;
}
#u242 {
  position:absolute;
  left:2px;
  top:4px;
  width:17px;
  visibility:hidden;
  word-wrap:break-word;
}
#u243_img {
  position:absolute;
  left:0px;
  top:0px;
  width:358px;
  height:2px;
}
#u243 {
  position:absolute;
  left:43px;
  top:205px;
  width:357px;
  height:1px;
}
#u244 {
  position:absolute;
  left:2px;
  top:-8px;
  width:353px;
  visibility:hidden;
  word-wrap:break-word;
}
#u245_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u245 {
  position:absolute;
  left:207px;
  top:179px;
  width:29px;
  height:16px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u246 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u247_img {
  position:absolute;
  left:0px;
  top:0px;
  width:358px;
  height:2px;
}
#u247 {
  position:absolute;
  left:43px;
  top:465px;
  width:357px;
  height:1px;
}
#u248 {
  position:absolute;
  left:2px;
  top:-8px;
  width:353px;
  visibility:hidden;
  word-wrap:break-word;
}
#u249_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u249 {
  position:absolute;
  left:207px;
  top:439px;
  width:29px;
  height:16px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u250 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u251_div {
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u251 {
  position:absolute;
  left:55px;
  top:281px;
  width:55px;
  height:25px;
}
#u252 {
  position:absolute;
  left:2px;
  top:4px;
  width:51px;
  word-wrap:break-word;
}
#u253_div {
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u253 {
  position:absolute;
  left:124px;
  top:281px;
  width:55px;
  height:25px;
}
#u254 {
  position:absolute;
  left:2px;
  top:4px;
  width:51px;
  word-wrap:break-word;
}
#u255_div {
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u255 {
  position:absolute;
  left:194px;
  top:281px;
  width:55px;
  height:25px;
}
#u256 {
  position:absolute;
  left:2px;
  top:4px;
  width:51px;
  word-wrap:break-word;
}
#u257_div {
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u257 {
  position:absolute;
  left:263px;
  top:281px;
  width:55px;
  height:25px;
}
#u258 {
  position:absolute;
  left:2px;
  top:4px;
  width:51px;
  word-wrap:break-word;
}
#u259_div {
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u259 {
  position:absolute;
  left:332px;
  top:281px;
  width:55px;
  height:25px;
}
#u260 {
  position:absolute;
  left:2px;
  top:4px;
  width:51px;
  word-wrap:break-word;
}
#u261_div {
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u261 {
  position:absolute;
  left:55px;
  top:381px;
  width:55px;
  height:25px;
}
#u262 {
  position:absolute;
  left:2px;
  top:4px;
  width:51px;
  word-wrap:break-word;
}
#u263_div {
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u263 {
  position:absolute;
  left:124px;
  top:381px;
  width:55px;
  height:25px;
}
#u264 {
  position:absolute;
  left:2px;
  top:4px;
  width:51px;
  word-wrap:break-word;
}
#u265_div {
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u265 {
  position:absolute;
  left:194px;
  top:381px;
  width:55px;
  height:25px;
}
#u266 {
  position:absolute;
  left:2px;
  top:4px;
  width:51px;
  word-wrap:break-word;
}
#u267_div {
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u267 {
  position:absolute;
  left:263px;
  top:381px;
  width:55px;
  height:25px;
}
#u268 {
  position:absolute;
  left:2px;
  top:4px;
  width:51px;
  word-wrap:break-word;
}
#u269_div {
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u269 {
  position:absolute;
  left:332px;
  top:381px;
  width:55px;
  height:25px;
}
#u270 {
  position:absolute;
  left:2px;
  top:4px;
  width:51px;
  word-wrap:break-word;
}
#u271_div {
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u271 {
  position:absolute;
  left:55px;
  top:541px;
  width:55px;
  height:25px;
}
#u272 {
  position:absolute;
  left:2px;
  top:4px;
  width:51px;
  word-wrap:break-word;
}
#u273_div {
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u273 {
  position:absolute;
  left:124px;
  top:541px;
  width:55px;
  height:25px;
}
#u274 {
  position:absolute;
  left:2px;
  top:4px;
  width:51px;
  word-wrap:break-word;
}
#u275_div {
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u275 {
  position:absolute;
  left:194px;
  top:541px;
  width:55px;
  height:25px;
}
#u276 {
  position:absolute;
  left:2px;
  top:4px;
  width:51px;
  word-wrap:break-word;
}
#u277_div {
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u277 {
  position:absolute;
  left:263px;
  top:541px;
  width:55px;
  height:25px;
}
#u278 {
  position:absolute;
  left:2px;
  top:4px;
  width:51px;
  word-wrap:break-word;
}
#u279_div {
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u279 {
  position:absolute;
  left:332px;
  top:541px;
  width:55px;
  height:25px;
}
#u280 {
  position:absolute;
  left:2px;
  top:4px;
  width:51px;
  word-wrap:break-word;
}
#u281_div {
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u281 {
  position:absolute;
  left:55px;
  top:638px;
  width:55px;
  height:25px;
}
#u282 {
  position:absolute;
  left:2px;
  top:4px;
  width:51px;
  word-wrap:break-word;
}
#u283_div {
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u283 {
  position:absolute;
  left:124px;
  top:638px;
  width:55px;
  height:25px;
}
#u284 {
  position:absolute;
  left:2px;
  top:4px;
  width:51px;
  word-wrap:break-word;
}
#u285_div {
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u285 {
  position:absolute;
  left:194px;
  top:638px;
  width:55px;
  height:25px;
}
#u286 {
  position:absolute;
  left:2px;
  top:4px;
  width:51px;
  word-wrap:break-word;
}
#u287_div {
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u287 {
  position:absolute;
  left:263px;
  top:638px;
  width:55px;
  height:25px;
}
#u288 {
  position:absolute;
  left:2px;
  top:4px;
  width:51px;
  word-wrap:break-word;
}
#u289_div {
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u289 {
  position:absolute;
  left:332px;
  top:638px;
  width:55px;
  height:25px;
}
#u290 {
  position:absolute;
  left:2px;
  top:4px;
  width:51px;
  word-wrap:break-word;
}
#u291_div {
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u291 {
  position:absolute;
  left:55px;
  top:734px;
  width:55px;
  height:25px;
}
#u292 {
  position:absolute;
  left:2px;
  top:4px;
  width:51px;
  word-wrap:break-word;
}
#u293_div {
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u293 {
  position:absolute;
  left:124px;
  top:734px;
  width:55px;
  height:25px;
}
#u294 {
  position:absolute;
  left:2px;
  top:4px;
  width:51px;
  word-wrap:break-word;
}
#u295_div {
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u295 {
  position:absolute;
  left:194px;
  top:734px;
  width:55px;
  height:25px;
}
#u296 {
  position:absolute;
  left:2px;
  top:4px;
  width:51px;
  word-wrap:break-word;
}
#u297_div {
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u297 {
  position:absolute;
  left:263px;
  top:734px;
  width:55px;
  height:25px;
}
#u298 {
  position:absolute;
  left:2px;
  top:4px;
  width:51px;
  word-wrap:break-word;
}
#u299_div {
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u299 {
  position:absolute;
  left:332px;
  top:734px;
  width:55px;
  height:25px;
}
#u300 {
  position:absolute;
  left:2px;
  top:4px;
  width:51px;
  word-wrap:break-word;
}
#u301_img {
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  height:55px;
}
#u301 {
  position:absolute;
  left:55px;
  top:226px;
  width:55px;
  height:55px;
}
#u302 {
  position:absolute;
  left:2px;
  top:20px;
  width:51px;
  word-wrap:break-word;
}
#u303_img {
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  height:55px;
}
#u303 {
  position:absolute;
  left:124px;
  top:226px;
  width:55px;
  height:55px;
}
#u304 {
  position:absolute;
  left:2px;
  top:20px;
  width:51px;
  word-wrap:break-word;
}
#u305_img {
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  height:55px;
}
#u305 {
  position:absolute;
  left:194px;
  top:226px;
  width:55px;
  height:55px;
}
#u306 {
  position:absolute;
  left:2px;
  top:20px;
  width:51px;
  word-wrap:break-word;
}
#u307_img {
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  height:55px;
}
#u307 {
  position:absolute;
  left:263px;
  top:226px;
  width:55px;
  height:55px;
}
#u308 {
  position:absolute;
  left:2px;
  top:20px;
  width:51px;
  word-wrap:break-word;
}
#u309_img {
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  height:55px;
}
#u309 {
  position:absolute;
  left:332px;
  top:226px;
  width:55px;
  height:55px;
}
#u310 {
  position:absolute;
  left:2px;
  top:20px;
  width:51px;
  word-wrap:break-word;
}
#u311_img {
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  height:55px;
}
#u311 {
  position:absolute;
  left:55px;
  top:326px;
  width:55px;
  height:55px;
}
#u312 {
  position:absolute;
  left:2px;
  top:20px;
  width:51px;
  word-wrap:break-word;
}
#u313_img {
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  height:55px;
}
#u313 {
  position:absolute;
  left:124px;
  top:326px;
  width:55px;
  height:55px;
}
#u314 {
  position:absolute;
  left:2px;
  top:20px;
  width:51px;
  word-wrap:break-word;
}
#u315_img {
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  height:55px;
}
#u315 {
  position:absolute;
  left:194px;
  top:326px;
  width:55px;
  height:55px;
}
#u316 {
  position:absolute;
  left:2px;
  top:20px;
  width:51px;
  word-wrap:break-word;
}
#u317_img {
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  height:55px;
}
#u317 {
  position:absolute;
  left:263px;
  top:326px;
  width:55px;
  height:55px;
}
#u318 {
  position:absolute;
  left:2px;
  top:20px;
  width:51px;
  word-wrap:break-word;
}
#u319_img {
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  height:55px;
}
#u319 {
  position:absolute;
  left:332px;
  top:326px;
  width:55px;
  height:55px;
}
#u320 {
  position:absolute;
  left:2px;
  top:20px;
  width:51px;
  word-wrap:break-word;
}
#u321_img {
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  height:55px;
}
#u321 {
  position:absolute;
  left:55px;
  top:486px;
  width:55px;
  height:55px;
}
#u322 {
  position:absolute;
  left:2px;
  top:20px;
  width:51px;
  word-wrap:break-word;
}
#u323_img {
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  height:55px;
}
#u323 {
  position:absolute;
  left:124px;
  top:486px;
  width:55px;
  height:55px;
}
#u324 {
  position:absolute;
  left:2px;
  top:20px;
  width:51px;
  word-wrap:break-word;
}
#u325_img {
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  height:55px;
}
#u325 {
  position:absolute;
  left:194px;
  top:486px;
  width:55px;
  height:55px;
}
#u326 {
  position:absolute;
  left:2px;
  top:20px;
  width:51px;
  word-wrap:break-word;
}
#u327_img {
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  height:55px;
}
#u327 {
  position:absolute;
  left:263px;
  top:486px;
  width:55px;
  height:55px;
}
#u328 {
  position:absolute;
  left:2px;
  top:20px;
  width:51px;
  word-wrap:break-word;
}
#u329_img {
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  height:55px;
}
#u329 {
  position:absolute;
  left:332px;
  top:486px;
  width:55px;
  height:55px;
}
#u330 {
  position:absolute;
  left:2px;
  top:20px;
  width:51px;
  word-wrap:break-word;
}
#u331_img {
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  height:55px;
}
#u331 {
  position:absolute;
  left:55px;
  top:583px;
  width:55px;
  height:55px;
}
#u332 {
  position:absolute;
  left:2px;
  top:20px;
  width:51px;
  word-wrap:break-word;
}
#u333_img {
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  height:55px;
}
#u333 {
  position:absolute;
  left:124px;
  top:583px;
  width:55px;
  height:55px;
}
#u334 {
  position:absolute;
  left:2px;
  top:20px;
  width:51px;
  word-wrap:break-word;
}
#u335_img {
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  height:55px;
}
#u335 {
  position:absolute;
  left:194px;
  top:583px;
  width:55px;
  height:55px;
}
#u336 {
  position:absolute;
  left:2px;
  top:20px;
  width:51px;
  word-wrap:break-word;
}
#u337_img {
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  height:55px;
}
#u337 {
  position:absolute;
  left:263px;
  top:583px;
  width:55px;
  height:55px;
}
#u338 {
  position:absolute;
  left:2px;
  top:20px;
  width:51px;
  word-wrap:break-word;
}
#u339_img {
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  height:55px;
}
#u339 {
  position:absolute;
  left:332px;
  top:583px;
  width:55px;
  height:55px;
}
#u340 {
  position:absolute;
  left:2px;
  top:20px;
  width:51px;
  word-wrap:break-word;
}
#u341_img {
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  height:55px;
}
#u341 {
  position:absolute;
  left:55px;
  top:679px;
  width:55px;
  height:55px;
}
#u342 {
  position:absolute;
  left:2px;
  top:20px;
  width:51px;
  word-wrap:break-word;
}
#u343_img {
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  height:55px;
}
#u343 {
  position:absolute;
  left:124px;
  top:679px;
  width:55px;
  height:55px;
}
#u344 {
  position:absolute;
  left:2px;
  top:20px;
  width:51px;
  word-wrap:break-word;
}
#u345_img {
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  height:55px;
}
#u345 {
  position:absolute;
  left:194px;
  top:679px;
  width:55px;
  height:55px;
}
#u346 {
  position:absolute;
  left:2px;
  top:20px;
  width:51px;
  word-wrap:break-word;
}
#u347_img {
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  height:55px;
}
#u347 {
  position:absolute;
  left:263px;
  top:679px;
  width:55px;
  height:55px;
}
#u348 {
  position:absolute;
  left:2px;
  top:20px;
  width:51px;
  word-wrap:break-word;
}
#u349_img {
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  height:55px;
}
#u349 {
  position:absolute;
  left:332px;
  top:679px;
  width:55px;
  height:55px;
}
#u350 {
  position:absolute;
  left:2px;
  top:20px;
  width:51px;
  word-wrap:break-word;
}
#u351_div {
  position:absolute;
  left:0px;
  top:0px;
  width:197px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u351 {
  position:absolute;
  left:441px;
  top:155px;
  width:197px;
  height:16px;
}
#u352 {
  position:absolute;
  left:0px;
  top:0px;
  width:197px;
  white-space:nowrap;
}
#u353_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u353 {
  position:absolute;
  left:90px;
  top:226px;
  width:20px;
  height:20px;
  color:#FFFFFF;
}
#u354 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  word-wrap:break-word;
}
#u355_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u355 {
  position:absolute;
  left:159px;
  top:226px;
  width:20px;
  height:20px;
  color:#FFFFFF;
}
#u356 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  word-wrap:break-word;
}
