body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:694px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u947 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u948_div {
  position:absolute;
  left:0px;
  top:0px;
  width:421px;
  height:880px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:50px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u948 {
  position:absolute;
  left:10px;
  top:10px;
  width:421px;
  height:880px;
}
#u949 {
  position:absolute;
  left:2px;
  top:432px;
  width:417px;
  visibility:hidden;
  word-wrap:break-word;
}
#u950_div {
  position:absolute;
  left:0px;
  top:0px;
  width:380px;
  height:670px;
  background:inherit;
  background-color:rgba(204, 204, 204, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u950 {
  position:absolute;
  left:31px;
  top:115px;
  width:380px;
  height:670px;
}
#u951 {
  position:absolute;
  left:2px;
  top:327px;
  width:376px;
  visibility:hidden;
  word-wrap:break-word;
}
#u952_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:19px;
}
#u952 {
  position:absolute;
  left:137px;
  top:51px;
  width:20px;
  height:19px;
  -webkit-transform:rotate(24deg);
  -moz-transform:rotate(24deg);
  -ms-transform:rotate(24deg);
  transform:rotate(24deg);
}
#u953 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u954_div {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:19px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u954 {
  position:absolute;
  left:178px;
  top:51px;
  width:85px;
  height:19px;
}
#u955 {
  position:absolute;
  left:2px;
  top:2px;
  width:81px;
  visibility:hidden;
  word-wrap:break-word;
}
#u956_img {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:56px;
}
#u956 {
  position:absolute;
  left:192px;
  top:804px;
  width:57px;
  height:56px;
}
#u957 {
  position:absolute;
  left:2px;
  top:20px;
  width:53px;
  visibility:hidden;
  word-wrap:break-word;
}
#u959 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u960_div {
  position:absolute;
  left:0px;
  top:0px;
  width:380px;
  height:43px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u960 {
  position:absolute;
  left:31px;
  top:115px;
  width:380px;
  height:43px;
}
#u961 {
  position:absolute;
  left:2px;
  top:14px;
  width:376px;
  visibility:hidden;
  word-wrap:break-word;
}
#u962_div {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u962 {
  position:absolute;
  left:185px;
  top:126px;
  width:73px;
  height:22px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u963 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u964_img {
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:25px;
}
#u964 {
  position:absolute;
  left:43px;
  top:126px;
  width:21px;
  height:25px;
}
#u965 {
  position:absolute;
  left:2px;
  top:4px;
  width:17px;
  visibility:hidden;
  word-wrap:break-word;
}
#u966_div {
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u966 {
  position:absolute;
  left:43px;
  top:170px;
  width:127px;
  height:16px;
}
#u967 {
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  white-space:nowrap;
}
#u968_img {
  position:absolute;
  left:0px;
  top:0px;
  width:358px;
  height:2px;
}
#u968 {
  position:absolute;
  left:43px;
  top:196px;
  width:357px;
  height:1px;
}
#u969 {
  position:absolute;
  left:2px;
  top:-8px;
  width:353px;
  visibility:hidden;
  word-wrap:break-word;
}
#u970_div {
  position:absolute;
  left:0px;
  top:0px;
  width:149px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u970 {
  position:absolute;
  left:43px;
  top:241px;
  width:149px;
  height:16px;
}
#u971 {
  position:absolute;
  left:0px;
  top:0px;
  width:148px;
  white-space:nowrap;
}
#u972_img {
  position:absolute;
  left:0px;
  top:0px;
  width:358px;
  height:2px;
}
#u972 {
  position:absolute;
  left:43px;
  top:267px;
  width:357px;
  height:1px;
}
#u973 {
  position:absolute;
  left:2px;
  top:-8px;
  width:353px;
  visibility:hidden;
  word-wrap:break-word;
}
#u974_div {
  position:absolute;
  left:0px;
  top:0px;
  width:357px;
  height:252px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  line-height:28px;
}
#u974 {
  position:absolute;
  left:43px;
  top:278px;
  width:357px;
  height:252px;
  line-height:28px;
}
#u975 {
  position:absolute;
  left:0px;
  top:0px;
  width:357px;
  word-wrap:break-word;
}
#u976_img {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:170px;
}
#u976 {
  position:absolute;
  left:72px;
  top:540px;
  width:300px;
  height:170px;
}
#u977 {
  position:absolute;
  left:2px;
  top:77px;
  width:296px;
  visibility:hidden;
  word-wrap:break-word;
}
#u978_div {
  position:absolute;
  left:0px;
  top:0px;
  width:253px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u978 {
  position:absolute;
  left:441px;
  top:267px;
  width:253px;
  height:16px;
}
#u979 {
  position:absolute;
  left:0px;
  top:0px;
  width:253px;
  white-space:nowrap;
}
#u980_div {
  position:absolute;
  left:0px;
  top:0px;
  width:357px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  line-height:28px;
}
#u980 {
  position:absolute;
  left:43px;
  top:209px;
  width:357px;
  height:28px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  line-height:28px;
}
#u981 {
  position:absolute;
  left:0px;
  top:0px;
  width:357px;
  word-wrap:break-word;
}
