body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:431px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u983 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u984_div {
  position:absolute;
  left:0px;
  top:0px;
  width:421px;
  height:880px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:50px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u984 {
  position:absolute;
  left:10px;
  top:10px;
  width:421px;
  height:880px;
}
#u985 {
  position:absolute;
  left:2px;
  top:432px;
  width:417px;
  visibility:hidden;
  word-wrap:break-word;
}
#u986_div {
  position:absolute;
  left:0px;
  top:0px;
  width:380px;
  height:670px;
  background:inherit;
  background-color:rgba(204, 204, 204, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u986 {
  position:absolute;
  left:31px;
  top:115px;
  width:380px;
  height:670px;
}
#u987 {
  position:absolute;
  left:2px;
  top:327px;
  width:376px;
  visibility:hidden;
  word-wrap:break-word;
}
#u988_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:19px;
}
#u988 {
  position:absolute;
  left:137px;
  top:51px;
  width:20px;
  height:19px;
  -webkit-transform:rotate(24deg);
  -moz-transform:rotate(24deg);
  -ms-transform:rotate(24deg);
  transform:rotate(24deg);
}
#u989 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u990_div {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:19px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u990 {
  position:absolute;
  left:178px;
  top:51px;
  width:85px;
  height:19px;
}
#u991 {
  position:absolute;
  left:2px;
  top:2px;
  width:81px;
  visibility:hidden;
  word-wrap:break-word;
}
#u992_img {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:56px;
}
#u992 {
  position:absolute;
  left:192px;
  top:804px;
  width:57px;
  height:56px;
}
#u993 {
  position:absolute;
  left:2px;
  top:20px;
  width:53px;
  visibility:hidden;
  word-wrap:break-word;
}
#u995 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u996_div {
  position:absolute;
  left:0px;
  top:0px;
  width:380px;
  height:43px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u996 {
  position:absolute;
  left:31px;
  top:115px;
  width:380px;
  height:43px;
}
#u997 {
  position:absolute;
  left:2px;
  top:14px;
  width:376px;
  visibility:hidden;
  word-wrap:break-word;
}
#u998_div {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u998 {
  position:absolute;
  left:185px;
  top:126px;
  width:73px;
  height:22px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u999 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u1000_img {
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:25px;
}
#u1000 {
  position:absolute;
  left:43px;
  top:126px;
  width:21px;
  height:25px;
}
#u1001 {
  position:absolute;
  left:2px;
  top:4px;
  width:17px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1002_div {
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1002 {
  position:absolute;
  left:43px;
  top:170px;
  width:127px;
  height:16px;
}
#u1003 {
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  white-space:nowrap;
}
#u1004_img {
  position:absolute;
  left:0px;
  top:0px;
  width:358px;
  height:2px;
}
#u1004 {
  position:absolute;
  left:43px;
  top:196px;
  width:357px;
  height:1px;
}
#u1005 {
  position:absolute;
  left:2px;
  top:-8px;
  width:353px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1006_div {
  position:absolute;
  left:0px;
  top:0px;
  width:148px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1006 {
  position:absolute;
  left:43px;
  top:277px;
  width:148px;
  height:16px;
}
#u1007 {
  position:absolute;
  left:0px;
  top:0px;
  width:148px;
  white-space:nowrap;
}
#u1008_img {
  position:absolute;
  left:0px;
  top:0px;
  width:358px;
  height:2px;
}
#u1008 {
  position:absolute;
  left:43px;
  top:303px;
  width:357px;
  height:1px;
}
#u1009 {
  position:absolute;
  left:2px;
  top:-8px;
  width:353px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1010_div {
  position:absolute;
  left:0px;
  top:0px;
  width:357px;
  height:168px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:center;
  line-height:28px;
}
#u1010 {
  position:absolute;
  left:43px;
  top:329px;
  width:357px;
  height:168px;
  text-align:center;
  line-height:28px;
}
#u1011 {
  position:absolute;
  left:0px;
  top:0px;
  width:357px;
  word-wrap:break-word;
}
#u1012_div {
  position:absolute;
  left:0px;
  top:0px;
  width:357px;
  height:56px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#000000;
  line-height:28px;
}
#u1012 {
  position:absolute;
  left:43px;
  top:211px;
  width:357px;
  height:56px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#000000;
  line-height:28px;
}
#u1013 {
  position:absolute;
  left:0px;
  top:0px;
  width:357px;
  word-wrap:break-word;
}
