body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:722px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1065 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1066_div {
  position:absolute;
  left:0px;
  top:0px;
  width:421px;
  height:880px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:50px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1066 {
  position:absolute;
  left:10px;
  top:10px;
  width:421px;
  height:880px;
}
#u1067 {
  position:absolute;
  left:2px;
  top:432px;
  width:417px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1068_div {
  position:absolute;
  left:0px;
  top:0px;
  width:380px;
  height:670px;
  background:inherit;
  background-color:rgba(204, 204, 204, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1068 {
  position:absolute;
  left:31px;
  top:115px;
  width:380px;
  height:670px;
}
#u1069 {
  position:absolute;
  left:2px;
  top:327px;
  width:376px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1070_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:19px;
}
#u1070 {
  position:absolute;
  left:137px;
  top:51px;
  width:20px;
  height:19px;
  -webkit-transform:rotate(24deg);
  -moz-transform:rotate(24deg);
  -ms-transform:rotate(24deg);
  transform:rotate(24deg);
}
#u1071 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1072_div {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:19px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1072 {
  position:absolute;
  left:178px;
  top:51px;
  width:85px;
  height:19px;
}
#u1073 {
  position:absolute;
  left:2px;
  top:2px;
  width:81px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1074_img {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:56px;
}
#u1074 {
  position:absolute;
  left:192px;
  top:804px;
  width:57px;
  height:56px;
}
#u1075 {
  position:absolute;
  left:2px;
  top:20px;
  width:53px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1077 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1078_div {
  position:absolute;
  left:0px;
  top:0px;
  width:380px;
  height:43px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1078 {
  position:absolute;
  left:31px;
  top:115px;
  width:380px;
  height:43px;
}
#u1079 {
  position:absolute;
  left:2px;
  top:14px;
  width:376px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1080_img {
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:25px;
}
#u1080 {
  position:absolute;
  left:43px;
  top:126px;
  width:21px;
  height:25px;
}
#u1081 {
  position:absolute;
  left:2px;
  top:4px;
  width:17px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1082_div {
  position:absolute;
  left:0px;
  top:0px;
  width:357px;
  height:56px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#000000;
  line-height:28px;
}
#u1082 {
  position:absolute;
  left:43px;
  top:211px;
  width:357px;
  height:56px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#000000;
  line-height:28px;
}
#u1083 {
  position:absolute;
  left:0px;
  top:0px;
  width:357px;
  word-wrap:break-word;
}
#u1084_div {
  position:absolute;
  left:0px;
  top:0px;
  width:149px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1084 {
  position:absolute;
  left:43px;
  top:281px;
  width:149px;
  height:16px;
}
#u1085 {
  position:absolute;
  left:0px;
  top:0px;
  width:148px;
  white-space:nowrap;
}
#u1086_img {
  position:absolute;
  left:0px;
  top:0px;
  width:358px;
  height:2px;
}
#u1086 {
  position:absolute;
  left:43px;
  top:307px;
  width:357px;
  height:1px;
}
#u1087 {
  position:absolute;
  left:2px;
  top:-8px;
  width:353px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1088_div {
  position:absolute;
  left:0px;
  top:0px;
  width:281px;
  height:48px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1088 {
  position:absolute;
  left:441px;
  top:115px;
  width:281px;
  height:48px;
}
#u1089 {
  position:absolute;
  left:0px;
  top:0px;
  width:281px;
  white-space:nowrap;
}
#u1090 {
  position:absolute;
  left:47px;
  top:341px;
  width:355px;
  height:245px;
}
#u1091_img {
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  height:30px;
}
#u1091 {
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  height:30px;
}
#u1092 {
  position:absolute;
  left:2px;
  top:7px;
  width:83px;
  word-wrap:break-word;
}
#u1093_img {
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  height:30px;
}
#u1093 {
  position:absolute;
  left:87px;
  top:0px;
  width:87px;
  height:30px;
}
#u1094 {
  position:absolute;
  left:2px;
  top:7px;
  width:83px;
  word-wrap:break-word;
}
#u1095_img {
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  height:30px;
}
#u1095 {
  position:absolute;
  left:174px;
  top:0px;
  width:88px;
  height:30px;
}
#u1096 {
  position:absolute;
  left:2px;
  top:7px;
  width:84px;
  word-wrap:break-word;
}
#u1097_img {
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  height:30px;
}
#u1097 {
  position:absolute;
  left:262px;
  top:0px;
  width:88px;
  height:30px;
}
#u1098 {
  position:absolute;
  left:2px;
  top:7px;
  width:84px;
  word-wrap:break-word;
}
#u1099_img {
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  height:30px;
}
#u1099 {
  position:absolute;
  left:0px;
  top:30px;
  width:87px;
  height:30px;
}
#u1100 {
  position:absolute;
  left:2px;
  top:7px;
  width:83px;
  word-wrap:break-word;
}
#u1101_img {
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  height:30px;
}
#u1101 {
  position:absolute;
  left:87px;
  top:30px;
  width:87px;
  height:30px;
}
#u1102 {
  position:absolute;
  left:2px;
  top:7px;
  width:83px;
  word-wrap:break-word;
}
#u1103_img {
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  height:30px;
}
#u1103 {
  position:absolute;
  left:174px;
  top:30px;
  width:88px;
  height:30px;
}
#u1104 {
  position:absolute;
  left:2px;
  top:7px;
  width:84px;
  word-wrap:break-word;
}
#u1105_img {
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  height:30px;
}
#u1105 {
  position:absolute;
  left:262px;
  top:30px;
  width:88px;
  height:30px;
}
#u1106 {
  position:absolute;
  left:2px;
  top:7px;
  width:84px;
  word-wrap:break-word;
}
#u1107_img {
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  height:30px;
}
#u1107 {
  position:absolute;
  left:0px;
  top:60px;
  width:87px;
  height:30px;
}
#u1108 {
  position:absolute;
  left:2px;
  top:7px;
  width:83px;
  word-wrap:break-word;
}
#u1109_img {
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  height:30px;
}
#u1109 {
  position:absolute;
  left:87px;
  top:60px;
  width:87px;
  height:30px;
}
#u1110 {
  position:absolute;
  left:2px;
  top:7px;
  width:83px;
  word-wrap:break-word;
}
#u1111_img {
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  height:30px;
}
#u1111 {
  position:absolute;
  left:174px;
  top:60px;
  width:88px;
  height:30px;
}
#u1112 {
  position:absolute;
  left:2px;
  top:7px;
  width:84px;
  word-wrap:break-word;
}
#u1113_img {
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  height:30px;
}
#u1113 {
  position:absolute;
  left:262px;
  top:60px;
  width:88px;
  height:30px;
}
#u1114 {
  position:absolute;
  left:2px;
  top:7px;
  width:84px;
  word-wrap:break-word;
}
#u1115_img {
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  height:30px;
}
#u1115 {
  position:absolute;
  left:0px;
  top:90px;
  width:87px;
  height:30px;
}
#u1116 {
  position:absolute;
  left:2px;
  top:7px;
  width:83px;
  word-wrap:break-word;
}
#u1117_img {
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  height:30px;
}
#u1117 {
  position:absolute;
  left:87px;
  top:90px;
  width:87px;
  height:30px;
}
#u1118 {
  position:absolute;
  left:2px;
  top:7px;
  width:83px;
  word-wrap:break-word;
}
#u1119_img {
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  height:30px;
}
#u1119 {
  position:absolute;
  left:174px;
  top:90px;
  width:88px;
  height:30px;
}
#u1120 {
  position:absolute;
  left:2px;
  top:7px;
  width:84px;
  word-wrap:break-word;
}
#u1121_img {
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  height:30px;
}
#u1121 {
  position:absolute;
  left:262px;
  top:90px;
  width:88px;
  height:30px;
}
#u1122 {
  position:absolute;
  left:2px;
  top:7px;
  width:84px;
  word-wrap:break-word;
}
#u1123_img {
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  height:30px;
}
#u1123 {
  position:absolute;
  left:0px;
  top:120px;
  width:87px;
  height:30px;
}
#u1124 {
  position:absolute;
  left:2px;
  top:7px;
  width:83px;
  word-wrap:break-word;
}
#u1125_img {
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  height:30px;
}
#u1125 {
  position:absolute;
  left:87px;
  top:120px;
  width:87px;
  height:30px;
}
#u1126 {
  position:absolute;
  left:2px;
  top:7px;
  width:83px;
  word-wrap:break-word;
}
#u1127_img {
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  height:30px;
}
#u1127 {
  position:absolute;
  left:174px;
  top:120px;
  width:88px;
  height:30px;
}
#u1128 {
  position:absolute;
  left:2px;
  top:7px;
  width:84px;
  word-wrap:break-word;
}
#u1129_img {
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  height:30px;
}
#u1129 {
  position:absolute;
  left:262px;
  top:120px;
  width:88px;
  height:30px;
}
#u1130 {
  position:absolute;
  left:2px;
  top:7px;
  width:84px;
  word-wrap:break-word;
}
#u1131_img {
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  height:30px;
}
#u1131 {
  position:absolute;
  left:0px;
  top:150px;
  width:87px;
  height:30px;
}
#u1132 {
  position:absolute;
  left:2px;
  top:7px;
  width:83px;
  word-wrap:break-word;
}
#u1133_img {
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  height:30px;
}
#u1133 {
  position:absolute;
  left:87px;
  top:150px;
  width:87px;
  height:30px;
}
#u1134 {
  position:absolute;
  left:2px;
  top:7px;
  width:83px;
  word-wrap:break-word;
}
#u1135_img {
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  height:30px;
}
#u1135 {
  position:absolute;
  left:174px;
  top:150px;
  width:88px;
  height:30px;
}
#u1136 {
  position:absolute;
  left:2px;
  top:7px;
  width:84px;
  word-wrap:break-word;
}
#u1137_img {
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  height:30px;
}
#u1137 {
  position:absolute;
  left:262px;
  top:150px;
  width:88px;
  height:30px;
}
#u1138 {
  position:absolute;
  left:2px;
  top:7px;
  width:84px;
  word-wrap:break-word;
}
#u1139_img {
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  height:30px;
}
#u1139 {
  position:absolute;
  left:0px;
  top:180px;
  width:87px;
  height:30px;
}
#u1140 {
  position:absolute;
  left:2px;
  top:7px;
  width:83px;
  word-wrap:break-word;
}
#u1141_img {
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  height:30px;
}
#u1141 {
  position:absolute;
  left:87px;
  top:180px;
  width:87px;
  height:30px;
}
#u1142 {
  position:absolute;
  left:2px;
  top:7px;
  width:83px;
  word-wrap:break-word;
}
#u1143_img {
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  height:30px;
}
#u1143 {
  position:absolute;
  left:174px;
  top:180px;
  width:88px;
  height:30px;
}
#u1144 {
  position:absolute;
  left:2px;
  top:7px;
  width:84px;
  word-wrap:break-word;
}
#u1145_img {
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  height:30px;
}
#u1145 {
  position:absolute;
  left:262px;
  top:180px;
  width:88px;
  height:30px;
}
#u1146 {
  position:absolute;
  left:2px;
  top:7px;
  width:84px;
  word-wrap:break-word;
}
#u1147_img {
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  height:30px;
}
#u1147 {
  position:absolute;
  left:0px;
  top:210px;
  width:87px;
  height:30px;
}
#u1148 {
  position:absolute;
  left:2px;
  top:7px;
  width:83px;
  word-wrap:break-word;
}
#u1149_img {
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  height:30px;
}
#u1149 {
  position:absolute;
  left:87px;
  top:210px;
  width:87px;
  height:30px;
}
#u1150 {
  position:absolute;
  left:2px;
  top:7px;
  width:83px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1151_img {
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  height:30px;
}
#u1151 {
  position:absolute;
  left:174px;
  top:210px;
  width:88px;
  height:30px;
}
#u1152 {
  position:absolute;
  left:2px;
  top:7px;
  width:84px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1153_img {
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  height:30px;
}
#u1153 {
  position:absolute;
  left:262px;
  top:210px;
  width:88px;
  height:30px;
}
#u1154 {
  position:absolute;
  left:2px;
  top:7px;
  width:84px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1155_div {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u1155 {
  position:absolute;
  left:185px;
  top:126px;
  width:73px;
  height:22px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u1156 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u1157_div {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#0000FF;
}
#u1157 {
  position:absolute;
  left:179px;
  top:315px;
  width:85px;
  height:16px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#0000FF;
}
#u1158 {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  white-space:nowrap;
}
#u1159_div {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#0000FF;
}
#u1159 {
  position:absolute;
  left:180px;
  top:591px;
  width:85px;
  height:16px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#0000FF;
}
#u1160 {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  white-space:nowrap;
}
#u1161 {
  position:absolute;
  left:48px;
  top:617px;
  width:355px;
  height:95px;
}
#u1162_img {
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  height:30px;
}
#u1162 {
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  height:30px;
}
#u1163 {
  position:absolute;
  left:2px;
  top:7px;
  width:83px;
  word-wrap:break-word;
}
#u1164_img {
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  height:30px;
}
#u1164 {
  position:absolute;
  left:87px;
  top:0px;
  width:87px;
  height:30px;
}
#u1165 {
  position:absolute;
  left:2px;
  top:7px;
  width:83px;
  word-wrap:break-word;
}
#u1166_img {
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  height:30px;
}
#u1166 {
  position:absolute;
  left:174px;
  top:0px;
  width:88px;
  height:30px;
}
#u1167 {
  position:absolute;
  left:2px;
  top:7px;
  width:84px;
  word-wrap:break-word;
}
#u1168_img {
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  height:30px;
}
#u1168 {
  position:absolute;
  left:262px;
  top:0px;
  width:88px;
  height:30px;
}
#u1169 {
  position:absolute;
  left:2px;
  top:7px;
  width:84px;
  word-wrap:break-word;
}
#u1170_img {
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  height:30px;
}
#u1170 {
  position:absolute;
  left:0px;
  top:30px;
  width:87px;
  height:30px;
}
#u1171 {
  position:absolute;
  left:2px;
  top:7px;
  width:83px;
  word-wrap:break-word;
}
#u1172_img {
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  height:30px;
}
#u1172 {
  position:absolute;
  left:87px;
  top:30px;
  width:87px;
  height:30px;
}
#u1173 {
  position:absolute;
  left:2px;
  top:7px;
  width:83px;
  word-wrap:break-word;
}
#u1174_img {
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  height:30px;
}
#u1174 {
  position:absolute;
  left:174px;
  top:30px;
  width:88px;
  height:30px;
}
#u1175 {
  position:absolute;
  left:2px;
  top:7px;
  width:84px;
  word-wrap:break-word;
}
#u1176_img {
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  height:30px;
}
#u1176 {
  position:absolute;
  left:262px;
  top:30px;
  width:88px;
  height:30px;
}
#u1177 {
  position:absolute;
  left:2px;
  top:7px;
  width:84px;
  word-wrap:break-word;
}
#u1178_img {
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  height:30px;
}
#u1178 {
  position:absolute;
  left:0px;
  top:60px;
  width:87px;
  height:30px;
}
#u1179 {
  position:absolute;
  left:2px;
  top:7px;
  width:83px;
  word-wrap:break-word;
}
#u1180_img {
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  height:30px;
}
#u1180 {
  position:absolute;
  left:87px;
  top:60px;
  width:87px;
  height:30px;
}
#u1181 {
  position:absolute;
  left:2px;
  top:7px;
  width:83px;
  word-wrap:break-word;
}
#u1182_img {
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  height:30px;
}
#u1182 {
  position:absolute;
  left:174px;
  top:60px;
  width:88px;
  height:30px;
}
#u1183 {
  position:absolute;
  left:2px;
  top:7px;
  width:84px;
  word-wrap:break-word;
}
#u1184_img {
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  height:30px;
}
#u1184 {
  position:absolute;
  left:262px;
  top:60px;
  width:88px;
  height:30px;
}
#u1185 {
  position:absolute;
  left:2px;
  top:7px;
  width:84px;
  word-wrap:break-word;
}
#u1186_div {
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1186 {
  position:absolute;
  left:43px;
  top:170px;
  width:127px;
  height:16px;
}
#u1187 {
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  white-space:nowrap;
}
#u1188_img {
  position:absolute;
  left:0px;
  top:0px;
  width:358px;
  height:2px;
}
#u1188 {
  position:absolute;
  left:43px;
  top:196px;
  width:357px;
  height:1px;
}
#u1189 {
  position:absolute;
  left:2px;
  top:-8px;
  width:353px;
  visibility:hidden;
  word-wrap:break-word;
}
