body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:694px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1289 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1290_div {
  position:absolute;
  left:0px;
  top:0px;
  width:421px;
  height:880px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:50px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1290 {
  position:absolute;
  left:10px;
  top:10px;
  width:421px;
  height:880px;
}
#u1291 {
  position:absolute;
  left:2px;
  top:432px;
  width:417px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1292_div {
  position:absolute;
  left:0px;
  top:0px;
  width:380px;
  height:670px;
  background:inherit;
  background-color:rgba(204, 204, 204, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1292 {
  position:absolute;
  left:31px;
  top:115px;
  width:380px;
  height:670px;
}
#u1293 {
  position:absolute;
  left:2px;
  top:327px;
  width:376px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1294_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:19px;
}
#u1294 {
  position:absolute;
  left:137px;
  top:51px;
  width:20px;
  height:19px;
  -webkit-transform:rotate(24deg);
  -moz-transform:rotate(24deg);
  -ms-transform:rotate(24deg);
  transform:rotate(24deg);
}
#u1295 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1296_div {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:19px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1296 {
  position:absolute;
  left:178px;
  top:51px;
  width:85px;
  height:19px;
}
#u1297 {
  position:absolute;
  left:2px;
  top:2px;
  width:81px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1298_img {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:56px;
}
#u1298 {
  position:absolute;
  left:192px;
  top:804px;
  width:57px;
  height:56px;
}
#u1299 {
  position:absolute;
  left:2px;
  top:20px;
  width:53px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1301 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1302_div {
  position:absolute;
  left:0px;
  top:0px;
  width:380px;
  height:43px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1302 {
  position:absolute;
  left:31px;
  top:115px;
  width:380px;
  height:43px;
}
#u1303 {
  position:absolute;
  left:2px;
  top:14px;
  width:376px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1304_div {
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u1304 {
  position:absolute;
  left:186px;
  top:125px;
  width:55px;
  height:22px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u1305 {
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  white-space:nowrap;
}
#u1306_div {
  position:absolute;
  left:0px;
  top:0px;
  width:212px;
  height:55px;
  background:inherit;
  background-color:rgba(0, 204, 0, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:left;
  line-height:24px;
}
#u1306 {
  position:absolute;
  left:107px;
  top:196px;
  width:212px;
  height:55px;
  text-align:left;
  line-height:24px;
}
#u1307 {
  position:absolute;
  left:2px;
  top:4px;
  width:208px;
  word-wrap:break-word;
}
#u1308_div {
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  height:55px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1308 {
  position:absolute;
  left:43px;
  top:196px;
  width:55px;
  height:55px;
}
#u1309 {
  position:absolute;
  left:2px;
  top:20px;
  width:51px;
  word-wrap:break-word;
}
#u1310_img {
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:25px;
}
#u1310 {
  position:absolute;
  left:43px;
  top:126px;
  width:21px;
  height:25px;
}
#u1311 {
  position:absolute;
  left:2px;
  top:4px;
  width:17px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1312_div {
  position:absolute;
  left:0px;
  top:0px;
  width:93px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1312 {
  position:absolute;
  left:175px;
  top:170px;
  width:93px;
  height:16px;
}
#u1313 {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  white-space:nowrap;
}
#u1314_div {
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  height:55px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1314 {
  position:absolute;
  left:342px;
  top:261px;
  width:55px;
  height:55px;
}
#u1315 {
  position:absolute;
  left:2px;
  top:20px;
  width:51px;
  word-wrap:break-word;
}
#u1316_div {
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  height:55px;
  background:inherit;
  background-color:rgba(204, 204, 204, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:left;
  line-height:24px;
}
#u1316 {
  position:absolute;
  left:245px;
  top:261px;
  width:87px;
  height:55px;
  text-align:left;
  line-height:24px;
}
#u1317 {
  position:absolute;
  left:2px;
  top:16px;
  width:83px;
  word-wrap:break-word;
}
#u1318_div {
  position:absolute;
  left:0px;
  top:0px;
  width:380px;
  height:45px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1318 {
  position:absolute;
  left:31px;
  top:740px;
  width:380px;
  height:45px;
}
#u1319 {
  position:absolute;
  left:2px;
  top:14px;
  width:376px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1320_div {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1320 {
  position:absolute;
  left:347px;
  top:124px;
  width:50px;
  height:25px;
}
#u1321 {
  position:absolute;
  left:2px;
  top:4px;
  width:46px;
  word-wrap:break-word;
}
#u1322_div {
  position:absolute;
  left:0px;
  top:0px;
  width:253px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1322 {
  position:absolute;
  left:441px;
  top:115px;
  width:253px;
  height:16px;
}
#u1323 {
  position:absolute;
  left:0px;
  top:0px;
  width:253px;
  white-space:nowrap;
}
#u1324 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1325_img {
  position:absolute;
  left:0px;
  top:0px;
  width:282px;
  height:2px;
}
#u1325 {
  position:absolute;
  left:43px;
  top:773px;
  width:281px;
  height:1px;
}
#u1326 {
  position:absolute;
  left:2px;
  top:-8px;
  width:277px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1327_div {
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  height:25px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1327 {
  position:absolute;
  left:341px;
  top:750px;
  width:56px;
  height:25px;
}
#u1328 {
  position:absolute;
  left:2px;
  top:4px;
  width:52px;
  word-wrap:break-word;
}
